*/node_modules
api-gateway/package-lock.json
learner-microservice/package-lock.json
learner-microservice/package-lock.json
api-gateway/package-lock.json
api-gateway/package-lock.json
course-microservice/package-lock.json
learner-microservice/package-lock.json
frontend/package-lock.json
